{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenDART API",
    "version": "2026-05-14",
    "description": "Generated from the official OpenDART development guide HTML tables.",
    "x-generated-from": [
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS001",
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS002",
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS003",
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS004",
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS005",
      "https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS006"
    ]
  },
  "servers": [
    {
      "url": "https://opendart.fss.or.kr"
    }
  ],
  "paths": {
    "/api/list.json": {
      "get": {
        "operationId": "list",
        "summary": "공시검색",
        "description": "공시 유형별, 회사별, 날짜별 등 여러가지 조건으로 공시보고서 검색기능을 제공합니다.",
        "tags": [
          "공시정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": false,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bgn_de",
            "in": "query",
            "required": false,
            "description": "검색시작 접수일자(YYYYMMDD) 1) 기본값 : 종료일(end_de) 2) 고유번호(corp_code)가 없는 경우 검색기간은 3개월로 제한",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "시작일",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "end_de",
            "in": "query",
            "required": false,
            "description": "검색종료 접수일자(YYYYMMDD) ※ 일자를 지정하지 않을 경우 당일 기준으로 조회",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "종료일",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "last_reprt_at",
            "in": "query",
            "required": false,
            "description": "최종보고서만 검색여부(Y or N) 1) 기본값: N (N지정시 정정보고서를 포함한 제출 보고서 전체를 검색함)",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "최종보고서 검색여부",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "pblntf_ty",
            "in": "query",
            "required": false,
            "description": "A : 정기공시 B : 주요사항보고 C : 발행공시 D : 지분공시 E : 기타공시 F : 외부감사관련 G : 펀드공시 H : 자산유동화 I : 거래소공시 J : 공정위공시",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "공시유형",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "pblntf_detail_ty",
            "in": "query",
            "required": false,
            "description": "(※ 상세 유형 참조 : pblntf_detail_ty)",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "공시상세유형",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "corp_cls",
            "in": "query",
            "required": false,
            "description": "법인구분 : Y(유가), K(코스닥), N(코넥스), E(기타) ※ 없으면 전체조회, 복수조건 불가",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "법인구분",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "접수일자: date 회사명 : crp 보고서명 : rpt ※ 기본값 : date",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "정렬",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "sort_mth",
            "in": "query",
            "required": false,
            "description": "오름차순(asc), 내림차순(desc) ※ 기본값 : desc",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "정렬방법",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "description": "페이지 번호(1~n) 기본값 : 1",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "페이지 번호",
            "x-opendart-type": "STRING(5)"
          },
          {
            "name": "page_count",
            "in": "query",
            "required": false,
            "description": "페이지당 건수(1~100) 기본값 : 10, 최대값 : 100",
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "x-opendart-title": "페이지 별 건수",
            "x-opendart-type": "STRING(3)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS001&apiId=2019001"
        },
        "x-opendart-api-id": "2019001",
        "x-opendart-group-code": "DS001"
      }
    },
    "/api/company.json": {
      "get": {
        "operationId": "company",
        "summary": "기업개황",
        "description": "DART에 등록되어있는 기업의 개황정보를 제공합니다.",
        "tags": [
          "공시정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS001&apiId=2019002"
        },
        "x-opendart-api-id": "2019002",
        "x-opendart-group-code": "DS001"
      }
    },
    "/api/document.xml": {
      "get": {
        "operationId": "document",
        "summary": "공시서류원본파일",
        "description": "공시보고서 원본파일을 제공합니다.",
        "tags": [
          "공시정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "rcept_no",
            "in": "query",
            "required": true,
            "description": "접수번호",
            "schema": {
              "type": "string",
              "maxLength": 14
            },
            "x-opendart-title": "접수번호",
            "x-opendart-type": "STRING(14)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS001&apiId=2019003"
        },
        "x-opendart-api-id": "2019003",
        "x-opendart-group-code": "DS001"
      }
    },
    "/api/corpCode.xml": {
      "get": {
        "operationId": "corpCode",
        "summary": "고유번호",
        "description": "DART에 등록되어있는 공시대상회사의 고유번호,회사명,종목코드, 최근변경일자를 파일로 제공합니다.",
        "tags": [
          "공시정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS001&apiId=2019018"
        },
        "x-opendart-api-id": "2019018",
        "x-opendart-group-code": "DS001"
      }
    },
    "/api/irdsSttus.json": {
      "get": {
        "operationId": "irdsSttus",
        "summary": "증자(감자) 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 증자(감자) 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrdsSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019004"
        },
        "x-opendart-api-id": "2019004",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/alotMatter.json": {
      "get": {
        "operationId": "alotMatter",
        "summary": "배당에 관한 사항",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 배당에 관한 사항을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlotMatterResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019005"
        },
        "x-opendart-api-id": "2019005",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/tesstkAcqsDspsSttus.json": {
      "get": {
        "operationId": "tesstkAcqsDspsSttus",
        "summary": "자기주식 취득 및 처분 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 자기주식 취득 및 처분 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TesstkAcqsDspsSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019006"
        },
        "x-opendart-api-id": "2019006",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/hyslrSttus.json": {
      "get": {
        "operationId": "hyslrSttus",
        "summary": "최대주주 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 최대주주 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HyslrSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019007"
        },
        "x-opendart-api-id": "2019007",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/hyslrChgSttus.json": {
      "get": {
        "operationId": "hyslrChgSttus",
        "summary": "최대주주 변동현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 최대주주 변동현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HyslrChgSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019008"
        },
        "x-opendart-api-id": "2019008",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/mrhlSttus.json": {
      "get": {
        "operationId": "mrhlSttus",
        "summary": "소액주주 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 소액주주 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MrhlSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019009"
        },
        "x-opendart-api-id": "2019009",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/exctvSttus.json": {
      "get": {
        "operationId": "exctvSttus",
        "summary": "임원 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 임원 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExctvSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019010"
        },
        "x-opendart-api-id": "2019010",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/empSttus.json": {
      "get": {
        "operationId": "empSttus",
        "summary": "직원 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 직원 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmpSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019011"
        },
        "x-opendart-api-id": "2019011",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/hmvAuditIndvdlBySttus.json": {
      "get": {
        "operationId": "hmvAuditIndvdlBySttus",
        "summary": "이사·감사의 개인별 보수현황(5억원 이상)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사의 개인별 보수현황(5억원 이상)을 제공합니다. ※ 2026년 4월까지 제출된 보고서해당",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HmvAuditIndvdlBySttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019012"
        },
        "x-opendart-api-id": "2019012",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/hmvAuditAllSttus.json": {
      "get": {
        "operationId": "hmvAuditAllSttus",
        "summary": "이사·감사 전체의 보수현황(보수지급금액 - 이사·감사 전체)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수현황(보수지급금액 - 이사·감사 전체)을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HmvAuditAllSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019013"
        },
        "x-opendart-api-id": "2019013",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/indvdlByPay.json": {
      "get": {
        "operationId": "indvdlByPay",
        "summary": "개인별 보수지급 금액(5억이상 상위5인)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 개인별 보수지급 금액(5억이상 상위5인)을 제공합니다. ※ 2026년 4월까지 제출된 보고서해당",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndvdlByPayResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019014"
        },
        "x-opendart-api-id": "2019014",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/otrCprInvstmntSttus.json": {
      "get": {
        "operationId": "otrCprInvstmntSttus",
        "summary": "타법인 출자현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 타법인 출자현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtrCprInvstmntSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019015"
        },
        "x-opendart-api-id": "2019015",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/stockTotqySttus.json": {
      "get": {
        "operationId": "stockTotqySttus",
        "summary": "주식의 총수 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 주식의총수현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockTotqySttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020002"
        },
        "x-opendart-api-id": "2020002",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/detScritsIsuAcmslt.json": {
      "get": {
        "operationId": "detScritsIsuAcmslt",
        "summary": "채무증권 발행실적",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 채무증권 발행실적을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetScritsIsuAcmsltResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020003"
        },
        "x-opendart-api-id": "2020003",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/entrprsBilScritsNrdmpBlce.json": {
      "get": {
        "operationId": "entrprsBilScritsNrdmpBlce",
        "summary": "기업어음증권 미상환 잔액",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 기업어음증권 미상환 잔액을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntrprsBilScritsNrdmpBlceResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020004"
        },
        "x-opendart-api-id": "2020004",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/srtpdPsndbtNrdmpBlce.json": {
      "get": {
        "operationId": "srtpdPsndbtNrdmpBlce",
        "summary": "단기사채 미상환 잔액",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 단기사채 미상환 잔액을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SrtpdPsndbtNrdmpBlceResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020005"
        },
        "x-opendart-api-id": "2020005",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/cprndNrdmpBlce.json": {
      "get": {
        "operationId": "cprndNrdmpBlce",
        "summary": "회사채 미상환 잔액",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 회사채 미상환 잔액을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CprndNrdmpBlceResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020006"
        },
        "x-opendart-api-id": "2020006",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/newCaplScritsNrdmpBlce.json": {
      "get": {
        "operationId": "newCaplScritsNrdmpBlce",
        "summary": "신종자본증권 미상환 잔액",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 신종자본증권 미상환 잔액을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCaplScritsNrdmpBlceResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020007"
        },
        "x-opendart-api-id": "2020007",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/cndlCaplScritsNrdmpBlce.json": {
      "get": {
        "operationId": "cndlCaplScritsNrdmpBlce",
        "summary": "조건부 자본증권 미상환 잔액",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 조건부 자본증권 미상환 잔액을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CndlCaplScritsNrdmpBlceResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020008"
        },
        "x-opendart-api-id": "2020008",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/accnutAdtorNmNdAdtOpinion.json": {
      "get": {
        "operationId": "accnutAdtorNmNdAdtOpinion",
        "summary": "회계감사인의 명칭 및 감사의견",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 회계감사인의 명칭 및 감사의견을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccnutAdtorNmNdAdtOpinionResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020009"
        },
        "x-opendart-api-id": "2020009",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/adtServcCnclsSttus.json": {
      "get": {
        "operationId": "adtServcCnclsSttus",
        "summary": "감사용역체결현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 감사용역체결현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdtServcCnclsSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020010"
        },
        "x-opendart-api-id": "2020010",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/accnutAdtorNonAdtServcCnclsSttus.json": {
      "get": {
        "operationId": "accnutAdtorNonAdtServcCnclsSttus",
        "summary": "회계감사인과의 비감사용역 계약체결 현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 회계감사인과의 비감사용역 계약체결 현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccnutAdtorNonAdtServcCnclsSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020011"
        },
        "x-opendart-api-id": "2020011",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/outcmpnyDrctrNdChangeSttus.json": {
      "get": {
        "operationId": "outcmpnyDrctrNdChangeSttus",
        "summary": "사외이사 및 그 변동현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 사외이사 및 그 변동현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutcmpnyDrctrNdChangeSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020012"
        },
        "x-opendart-api-id": "2020012",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/unrstExctvMendngSttus.json": {
      "get": {
        "operationId": "unrstExctvMendngSttus",
        "summary": "미등기임원 보수현황",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 미등기임원 보수현황을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnrstExctvMendngSttusResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020013"
        },
        "x-opendart-api-id": "2020013",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/drctrAdtAllMendngSttusGmtsckConfmAmount.json": {
      "get": {
        "operationId": "drctrAdtAllMendngSttusGmtsckConfmAmount",
        "summary": "이사·감사 전체의 보수현황(주주총회 승인금액)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수현황(주주총회 승인금액)을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrctrAdtAllMendngSttusGmtsckConfmAmountResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020014"
        },
        "x-opendart-api-id": "2020014",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/drctrAdtAllMendngSttusMendngPymntamtTyCl.json": {
      "get": {
        "operationId": "drctrAdtAllMendngSttusMendngPymntamtTyCl",
        "summary": "이사·감사 전체의 보수현황(보수지급금액 - 유형별)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사 전체의 보수현황(보수지급금액 - 유형별)을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrctrAdtAllMendngSttusMendngPymntamtTyClResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020015"
        },
        "x-opendart-api-id": "2020015",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/pssrpCptalUseDtls.json": {
      "get": {
        "operationId": "pssrpCptalUseDtls",
        "summary": "공모자금의 사용내역",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 공모자금의 사용내역을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PssrpCptalUseDtlsResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020016"
        },
        "x-opendart-api-id": "2020016",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/prvsrpCptalUseDtls.json": {
      "get": {
        "operationId": "prvsrpCptalUseDtls",
        "summary": "사모자금의 사용내역",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 사모자금의 사용내역을 제공합니다.",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 1
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(1)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrvsrpCptalUseDtlsResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2020017"
        },
        "x-opendart-api-id": "2020017",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/hmvAuditIndvdlBySttusV2.json": {
      "get": {
        "operationId": "hmvAuditIndvdlBySttusV2",
        "summary": "이사·감사의 개인별 보수현황(5억원 이상) (Ver 2.0)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사의 개인별 보수현황(5억원 이상)을 제공합니다. ※ 2026년 5월 이후부터 제출된 보고서해당",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2026년 5월 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HmvAuditIndvdlBySttusV2Response"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2026001"
        },
        "x-opendart-api-id": "2026001",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/indvdlByPayV2.json": {
      "get": {
        "operationId": "indvdlByPayV2",
        "summary": "개인별 보수지급 금액(5억이상 상위5인) (Ver 2.0)",
        "description": "정기보고서(사업, 분기, 반기보고서) 내에 이사·감사의 개인별 보수현황(5억원 이상)을 제공합니다. ※ 2026년 5월 이후부터 제출된 보고서해당",
        "tags": [
          "정기보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2026년 5월 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndvdlByPayV2Response"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2026002"
        },
        "x-opendart-api-id": "2026002",
        "x-opendart-group-code": "DS002"
      }
    },
    "/api/fnlttSinglAcnt.json": {
      "get": {
        "operationId": "fnlttSinglAcnt",
        "summary": "단일회사 주요계정",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 주요계정과목(재무상태표, 손익계산서)을 제공합니다.",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FnlttSinglAcntResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2019016"
        },
        "x-opendart-api-id": "2019016",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/fnlttMultiAcnt.json": {
      "get": {
        "operationId": "fnlttMultiAcnt",
        "summary": "다중회사 주요계정",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 주요계정과목(재무상태표, 손익계산서)을 제공합니다. (대상법인 복수조회 복수조회 가능)",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FnlttMultiAcntResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2019017"
        },
        "x-opendart-api-id": "2019017",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/fnlttXbrl.xml": {
      "get": {
        "operationId": "fnlttXbrl",
        "summary": "재무제표 원본파일(XBRL)",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 원본파일(XBRL)을 제공합니다.",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "rcept_no",
            "in": "query",
            "required": true,
            "description": "접수번호 ※ 조회방법 : 공시검색API 호출 > 응답요청 값 rcept_no 추출",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "접수번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2019019"
        },
        "x-opendart-api-id": "2019019",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/fnlttSinglAcntAll.json": {
      "get": {
        "operationId": "fnlttSinglAcntAll",
        "summary": "단일회사 전체 재무제표",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 모든계정과목을 제공합니다.",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          },
          {
            "name": "fs_div",
            "in": "query",
            "required": true,
            "description": "OFS:재무제표, CFS:연결재무제표",
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "x-opendart-title": "개별/연결구분",
            "x-opendart-type": "STRING(3)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FnlttSinglAcntAllResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2019020"
        },
        "x-opendart-api-id": "2019020",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/xbrlTaxonomy.json": {
      "get": {
        "operationId": "xbrlTaxonomy",
        "summary": "XBRL택사노미재무제표양식",
        "description": "금융감독원 회계포탈에서 제공하는 IFRS 기반 XBRL 재무제표 공시용 표준계정과목체계(계정과목) 을 제공합니다.",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "sj_div",
            "in": "query",
            "required": true,
            "description": "(※재무제표구분 참조)",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "재무제표구분",
            "x-opendart-type": "STRING(5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XbrlTaxonomyResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2020001"
        },
        "x-opendart-api-id": "2020001",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/fnlttSinglIndx.json": {
      "get": {
        "operationId": "fnlttSinglIndx",
        "summary": "단일회사 주요 재무지표",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 주요 재무지표를 제공합니다.",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2023년 3분기 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          },
          {
            "name": "idx_cl_code",
            "in": "query",
            "required": true,
            "description": "수익성지표 : M210000 안정성지표 : M220000 성장성지표 : M230000 활동성지표 : M240000",
            "schema": {
              "type": "string",
              "maxLength": 7
            },
            "x-opendart-title": "지표분류코드",
            "x-opendart-type": "STRING(7)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FnlttSinglIndxResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2022001"
        },
        "x-opendart-api-id": "2022001",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/fnlttCmpnyIndx.json": {
      "get": {
        "operationId": "fnlttCmpnyIndx",
        "summary": "다중회사 주요 재무지표",
        "description": "상장법인(유가증권, 코스닥) 및 주요 비상장법인(사업보고서 제출대상 & IFRS 적용)이 제출한 정기보고서 내에 XBRL재무제표의 주요 재무지표를 제공합니다.(대상법인 복수조회 가능)",
        "tags": [
          "정기보고서 재무정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bsns_year",
            "in": "query",
            "required": true,
            "description": "사업연도(4자리) ※ 2023년 3분기 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 4
            },
            "x-opendart-title": "사업연도",
            "x-opendart-type": "STRING(4)"
          },
          {
            "name": "reprt_code",
            "in": "query",
            "required": true,
            "description": "1분기보고서 : 11013 반기보고서 : 11012 3분기보고서 : 11014 사업보고서 : 11011",
            "schema": {
              "type": "string",
              "maxLength": 5
            },
            "x-opendart-title": "보고서 코드",
            "x-opendart-type": "STRING(5)"
          },
          {
            "name": "idx_cl_code",
            "in": "query",
            "required": true,
            "description": "수익성지표 : M210000 안정성지표 : M220000 성장성지표 : M230000 활동성지표 : M240000",
            "schema": {
              "type": "string",
              "maxLength": 7
            },
            "x-opendart-title": "지표분류코드",
            "x-opendart-type": "STRING(7)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FnlttCmpnyIndxResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS003&apiId=2022002"
        },
        "x-opendart-api-id": "2022002",
        "x-opendart-group-code": "DS003"
      }
    },
    "/api/majorstock.json": {
      "get": {
        "operationId": "majorstock",
        "summary": "대량보유 상황보고",
        "description": "주식등의 대량보유상황보고서 내에 대량보유 상황보고 정보를 제공합니다.",
        "tags": [
          "지분공시 종합정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MajorstockResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS004&apiId=2019021"
        },
        "x-opendart-api-id": "2019021",
        "x-opendart-group-code": "DS004"
      }
    },
    "/api/elestock.json": {
      "get": {
        "operationId": "elestock",
        "summary": "임원ㆍ주요주주 소유보고",
        "description": "임원ㆍ주요주주특정증권등 소유상황보고서 내에 임원ㆍ주요주주 소유보고 정보를 제공합니다.",
        "tags": [
          "지분공시 종합정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElestockResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS004&apiId=2019022"
        },
        "x-opendart-api-id": "2019022",
        "x-opendart-group-code": "DS004"
      }
    },
    "/api/astInhtrfEtcPtbkOpt.json": {
      "get": {
        "operationId": "astInhtrfEtcPtbkOpt",
        "summary": "자산양수도(기타), 풋백옵션",
        "description": "주요사항보고서(자산양수도(기타), 풋백옵션) 내에 주요 정보를 제공합니다.",
        "tags": [
          "주요사항보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bgn_de",
            "in": "query",
            "required": true,
            "description": "검색시작 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "시작일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "end_de",
            "in": "query",
            "required": true,
            "description": "검색종료 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "종료일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AstInhtrfEtcPtbkOptResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS005&apiId=2020018"
        },
        "x-opendart-api-id": "2020018",
        "x-opendart-group-code": "DS005"
      }
    },
    "/api/dfOcr.json": {
      "get": {
        "operationId": "dfOcr",
        "summary": "부도발생",
        "description": "주요사항보고서(부도발생) 내에 주요 정보를 제공합니다.",
        "tags": [
          "주요사항보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bgn_de",
            "in": "query",
            "required": true,
            "description": "검색시작 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "시작일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "end_de",
            "in": "query",
            "required": true,
            "description": "검색종료 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "종료일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DfOcrResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS005&apiId=2020019"
        },
        "x-opendart-api-id": "2020019",
        "x-opendart-group-code": "DS005"
      }
    },
    "/api/bsnSp.json": {
      "get": {
        "operationId": "bsnSp",
        "summary": "영업정지",
        "description": "주요사항보고서(영업정지) 내에 주요 정보를 제공합니다.",
        "tags": [
          "주요사항보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bgn_de",
            "in": "query",
            "required": true,
            "description": "검색시작 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "시작일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "end_de",
            "in": "query",
            "required": true,
            "description": "검색종료 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "종료일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BsnSpResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS005&apiId=2020020"
        },
        "x-opendart-api-id": "2020020",
        "x-opendart-group-code": "DS005"
      }
    },
    "/api/ctrcvsBgrq.json": {
      "get": {
        "operationId": "ctrcvsBgrq",
        "summary": "회생절차 개시신청",
        "description": "주요사항보고서(회생절차 개시신청) 내에 주요 정보를 제공합니다.",
        "tags": [
          "주요사항보고서 주요정보"
        ],
        "security": [
          {
            "OpenDartApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "corp_code",
            "in": "query",
            "required": true,
            "description": "공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 참고",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "고유번호",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "bgn_de",
            "in": "query",
            "required": true,
            "description": "검색시작 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "시작일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          },
          {
            "name": "end_de",
            "in": "query",
            "required": true,
            "description": "검색종료 접수일자(YYYYMMDD) ※ 2015년 이후 부터 정보제공",
            "schema": {
              "type": "string",
              "maxLength": 8
            },
            "x-opendart-title": "종료일(최초접수일)",
            "x-opendart-type": "STRING(8)"
          }
        ],
        "responses": {
          "200": {
            "description": "OpenDART response. Business errors are returned with 200 and status/message fields for JSON APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CtrcvsBgrqResponse"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS005&apiId=2020021"
        },
        "x-opendart-api-id": "2020021",
        "x-opendart-group-code": "DS005"
      }
    },
    "/api/dsRsOcr.json": {
      "get": {
        "operationId": "dsRsOcr",
        "summary": "해산사유 발생",
        "description": "주요사항보고서(해산사유 발생) 내에 주요 정보를 제공합니다.",
        "tags": [
          "주요사항보고서 주요정보"
        ],
        "security": [
[...]
